*.pyc
*.pyo
*.so
__pycache__/
.vscode/
.idea/

data/
output/
tensorboard_3d/
screenshots/

build/
dist/
*.egg-info/
submodules/**/build/
submodules/**/*.egg-info/

diff_rasterization/diff_rast.egg-info/
diff_rasterization/dist/

..gitignore.swp
.gitignore.swp

rgb_preview/
