[submodule "submodules/simple-knn"]
	path = submodules/simple-knn
	url = https://gitlab.inria.fr/bkerbl/simple-knn.git
[submodule "submodules/diff-gaussian-rasterization-extentions"]
	path = submodules/diff-gaussian-rasterization-extentions
	url = https://github.com/ingra14m/diff-gaussian-rasterization-extentions
	branch = filter-norm
[submodule "submodules/diff-gaussian-rasterization-extentions/third_party/glm"]
	path = submodules/diff-gaussian-rasterization-extentions/third_party/glm
	url = https://github.com/g-truc/glm.git
